/******************************************************************
** Base stylesheet **
******************************************************************/

body {
  font-family: $depot-font;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  background: $light-gray;
  transition: font-size 0.2s linear;

  @include breakpoint(700px) {
    font-size: 18px;
  }

  ::selection {
    background: $light-yellow;
  }
}

#main {
	@include container($wrapper-width);
	padding: $half-space;
  margin-top: $full-space;
  background: $white;
  border-radius: 5px;
  box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.06);
  transition: padding 0.2s linear;

  @include breakpoint(700px) {
    padding: $full-space;
  }
}

.logo {
  display: block;
  margin-bottom: 30px;
  margin-bottom: 20px;
  width: 100px;

  @include breakpoint(700px) {
    width: auto;
    margin-bottom: 30px;
  }
}

a {
  color: $gray;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
  transition: color 0.2s ease-in-out, border 0.2s ease-in-out;

  &:hover {
    color: $black;
    border-color: $gray;
  }
}

h2 {
  margin: 0 0 $half-space 0;
  padding: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 3px;
  padding-top: $half-space;
}

h3 {
  margin: 0 0 $half-space 0;
  padding: 0;
  font-size: 1.2em;
  font-weight: bold;
}

h2 + h3 {
  margin-top: -10px;
}

hr {
  margin: $full-space 0;
  height: 1px;
  border: none;
  background: none;
  border-bottom: 2px dotted #ddd;
}

.footer {
  background: $light-gray;
  color: $black;

  .footer-inner {
    @include container($wrapper-width);
    padding: 1em;
  }
}

@keyframes fadeIn { 
  from { 
    opacity: 0;
    margin-top: 20px;
  } 
  to { 
    opacity: 1; 
    margin-top: 30px;
  } 
}

.fade-in {
  opacity: 0;
  animation: fadeIn ease-in-out 1;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
}

@keyframes zoomOut { 
  from { 
    transform: scale(0.7);
    opacity: 0;
  } 
  to { 
    transform: scale(1);
    opacity: 1;
  } 
}

.zoom-out {
  opacity: 0;
  animation: zoomOut ease-in-out 1;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
}